.header{
	display: flex;
	background-color: #1c558a;
	border: 3px gray solid;
	border-bottom: none;
}
.home{
	color: white;
}
.header a{
	display: inline-block;
	text-decoration: none;
	color: #88b8e0;
	padding-right: 10px;
}
.header:first-child img{
	padding-right: 10px;
	padding-left: 60px;
}
.amenu{
	padding-top: 23px;
}
#ava{
	margin-left: 34em;
	margin-top: 3px;
}
a:hover{
	text-shadow: 1px 1px 2px black, 0 0 1em white;
}
h1{
	text-align: center;
	padding-bottom: 20px;
	border-bottom: 1px solid gray;
}
.week{
	display: flex;
	border: 1px gray solid;
	padding: 10px 0 10px 20px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
.week p:last-child{
	padding: 0 30px 0 15px;
	margin-top: -10px;
}
.week p:first-child{
	padding: 0 15px;
}
.week small{
	margin-left: 60%;
}
.week img, .meeting img{
	width: 100px;
}
.program{
	border: 1px gray solid;
	padding:8px 15px 0 20px;
}
.program small{
	margin-left: 41%;
}
.program p:last-child{
	margin-top: -15px;
}
.meeting{
	display: flex;
	border: 1px gray solid;
	padding: 10px 0 10px 20px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}
.meeting p:first-child{
	padding: 0 15px;
}
.meeting p:last-child{
	padding: 0 40px 0 15px;
	margin-top: -10px;
}
.meeting small{
	margin-left: 30%;
}
h2{
	text-align: center;
	padding: 20px;
}
.maine{
	border: 3px gray solid;
	border-top: none;
	width: 100%;
	padding: 20px 30px;
	box-sizing: border-box;
} 
span{
	display: inline-block;
}
ul{
	list-style-type: none;
	margin-left: 5%;
}
li img{
	width: 40px;
}
.one{
	font-weight: bolder;
	font-size: 20px;
	margin-right: -5px;
	padding-left: 32px;
}
.attendedr{
	border: 1px gray solid;
	position: relative;
	padding: 0.6px 10px;
}
.attendedr::before, .attendedr::after {
    content: ''; 
    position: absolute;
    right: -28px; top: -1.7px;
    border: 14.5px solid transparent;
    border-left: 14px solid gray;
}
.attendedr::after {
    border-left: 13.5px solid white;
    right: -26px; 
}
.attendedl{
	border: 1px gray solid;
	position: relative;
	padding: 0.6px 10px;
	margin-left: 30px;
}
.attendedl::before, .attendedl::after {
    content: ''; 
    position: absolute;
    left: -28px; top: -1.7px;
    border: 14.5px solid transparent;
    border-right: 14px solid gray;
}
.attendedl::after {
    border-right: 13.5px solid white;
    left: -26px; 
}
.numb{
	margin-left: 28px;
	border: 1px gray solid;
	position: relative;
	padding: 0.6px 10px;

}
.numb::before, .numb::after {
    content: ''; 
    position: absolute;
    right: -28px; top: -1.7px;
    border: 14.5px solid transparent;
    border-left: 14px solid gray;
}
.numb::after {
    border-left: 13.5px solid white;
    right: -26px; 
}
.numbr{
	margin-left: 32px;
	border: 1px gray solid;
	position: relative;
	padding: 0.6px 10px;
}
.numbr::before, .numbr::after {
    content: ''; 
    position: absolute;
    left: -28px; top: -1.7px;
    border: 14.5px solid transparent;
    border-right: 14px solid gray;
}
.numbr::after {
    border-right: 13.5px solid white;
    left: -26px; 
}
.graymor{
   	color:white;
	background-color: #6d747e;
	margin-top: 20px;
	width: 100%;
	padding: 5px 0;
}
.lightmor{
   	color: #6d747e;
   	background-color: #f0f0f0;
   	margin-top: 5px;
	width: 100%;
	padding: 5px 0;
}
.graymor{
   	border:none;
   	border-radius: 5px;
}
.lightmor{
   	border:none;
   	border-radius: 5px;
}
.graymor:hover{
   	background: linear-gradient(gray, darkgray);
}
.lightmor:hover{
    	color: white;
    	background: linear-gradient(gray, darkgray);
}