.header{
	display: flex;
	background-color: #1c558a;
	/*border: 3px gray solid;
	border-bottom: none;*/
}

.home{
	color: white;
}
.header a{
	display: inline-block;
	text-decoration: none;
	color: #88b8e0;
	padding-right: 10px;
}
.header:first-child img{
	padding-right: 10px;
	padding-left: 60px;
}
.amenu{
	padding-top: 23px;
}
#ava{
	margin-left: 410%;
	margin-top: 3px;
}
a:hover{
	text-shadow: 1px 1px 2px black, 0 0 1em white;
}
h1{
	text-align: center;
	padding-top: 20px;
}
.week{
	display: flex;
	border: 1px gray solid;
	padding: 10px 0 10px 20px;
}
.week p:last-child{
	padding: 0 40px 0 15px;
	margin-top: -10px;
}
.week p:first-child{
	padding: 0 15px;

}
.week small{
	margin-left: 60%;
}
.program{
	border: 1px gray solid;
	padding:8px 15px 0 20px;
}
.program small{
	margin-left: 45%;
}
.program p:last-child{
	margin-top: -15px;
}
.meeting{
	display: flex;
	border: 1px gray solid;
	padding: 10px 0 10px 20px;
}
.meeting p:first-child{
	padding: 0 15px;
}
.meeting p:last-child{
	padding: 0 40px 0 15px;
	margin-top: -10px;
}
.meeting small{
	margin-left: 30%;
}
h2{
	text-align: center;
	padding-top: 20px;
}
.maine{
	border: 3px gray solid;
	/*width: 100%;*/
	/*box-sizing: border-box;*/
} 
span{
	display: inline-block;
}
ul{
	list-style-type: none;
}
li img{
	width: 40px;
	
}
.one{
	font-weight: bolder;
	font-size: 20px;
	margin-right: -5px;
	padding-left: 20px;
}
.attendedr{
	border: 1px gray solid;
	position: relative;
	padding: 0.6px 10px;
}
.attendedr::before, .attendedr::after {
    content: ''; 
    position: absolute;
    right: -28px; top: -1.7px;
    border: 14.5px solid transparent;
    border-left: 14px solid gray;
   }
   .attendedr::after {
    border-left: 13.5px solid white;
    right: -26px; 
   }
   .attendedl{
	border: 1px gray solid;
	position: relative;
	padding: 0.6px 10px;
}
.attendedl::before, .attendedl::after {
    content: ''; 
    position: absolute;
    left: -28px; top: -1.7px;
    border: 14.5px solid transparent;
    border-right: 14px solid gray;
   }
   .attendedl::after {
    border-right: 13.5px solid white;
    left: -26px; 
   }
